

.searchField{
    height: 56px;
    width: 244px;
    align-items: center;
    background-color: red;
    justify-content: start;

}
.searchField:focus-within{
    background-color: green;
    width: 260px;
    transform: translate3d(-16px,0,0);
    transition: 0.2s all ease-in-out;
}